@model Project
@{
    Layout="_login";
}
<style>
    .headlabel{
        background-color: rgb(161, 62, 194) ;
        width: 9em;
        font-weight: bold;
        margin-left: 200px;
    }
    .datalabel{
        width: 9em;
    }
    center{
        margin-left:90px;
    }
    h1{
        margin-left: 400px;
        width: 400px;
        margin-top:10%;
    }
    td{
        padding: 15px;
    }
    button{
        border:none ;
        background-color: rgb(161, 62, 194);
        border-radius: 7%;
        margin-left: 450px;
        margin-top: 20px;
        height: 40px;
        width: 80px;
        font-weight: bold;
    }
</style>

<h1>New Project</h1>
<form method="post" asp-action="AddProjects" asp-controller="Admin">
<center>
<table style="margin-left: 30px;">
    <tr>
        <td>
            <label class="headlabel">Name </label>
        </td>
        <td>
            <input asp-for="Name" class="datalabel" required></input>
        </td>
        <td>
            <span asp-validation-for="Name"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="headlabel">Deadline</label>
        </td>
        <td>
            <input type="date" asp-for="Deadline" asp-format="{0:yyyy-MM-dd}" class="datalabel" required></input>
        </td>

         <td>
            <span asp-validation-for="Deadline"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="headlabel">Manager</label>
        </td>
        <td>
           <input asp-for="Manager" class="datalabel" readonly></input>
        </td>
        <td>
            <span asp-validation-for="Manager"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label class="headlabel">SRS Document</label>
        </td>
        <td>
           <input style="width:40em;" type="file" asp-for="Document" accept=".pdf" required></input>
        </td>
        <td>
            <span asp-validation-for="Document"></span>
        </td> 
    </tr>
</table>
</center>
<button type="submit">Register</button> 
</form>