
@{
  Layout="_ManagerLayout";
}

<style>
    .div1{
     width: 1150px;
     margin-left: -12px;
    }
    .heading{
      text-align: center;
      font-weight:bold;
      color:rgb(161, 62, 194);
      margin-left: 65%;
      margin-right: -400px;
    }
      .para{
      text-align: justify;
      margin: 0 5em;
      font-size:18px;
      margin-right: -600px;
      margin-left: 10%;
    }
        .subheading{
      text-align: center;
      font-weight:bold;
      margin-left: 65%;
      margin-right: -400px;
    }

</style>
   
<div class="div1">
  <img src="../image/Index.jpg" style="width:100%;"> 
</div>
<br>
<br>
<div style="width=400%;">
  <h1 class="heading" style="width=800%;">About Us</h1>
  <p class="para">Aspire Systems is a global technology services firm serving as a trusted technology partner for its customers. We work with some of the world’s most innovative enterprises, independent software vendors and leading financial institutions, helping them leverage technology and outsourcing in our specific areas of expertise.Aspire Systems is a global technology services firm serving as a trusted technology partner for our customers. We work with some of the world's most innovative enterprises and independent software vendors, helping them leverage technology and outsourcing in our specific areas of expertise. Our core philosophy of "Attention. Always." communicates our belief in lavishing care and attention on our customers and employees.</p>
  <br>
  <h2 class="heading">"Wonderful place to work"</h2>
</div>
<br>
<div style="margin-top: 5%;">
  <center><img src="../image/CEO.jpg" style="border-radius: 50%; margin-left:90%"/></center>
  <br>
  <h3 class="heading">Gowri Shankar Subramanian</h3>
  <h4 class="subheading" >Chief Executive Officer</h4>
  <br>
  <p class="para">Gowri is a co-founder of Aspire Systems and currently serves as its CEO.  In this position, he sets the strategic direction for Aspire and also oversees its day-to-day operations. Under his leadership, Aspire has grown at a CAGR of 63% over the past five years and has been ranked in Deloitte's list of fastest-growing companies in India and Asia-Pacific.Gowri believes in the power of outsourcing to transform industries and fundamentally alter business dynamics.   Having watched up-close how sub-contract manufacturing transformed the electronics industry and how IBM, Cisco, HP, and others gradually outsourced all their manufacturing operations, Gowri firmly believes that software product building will go the same way and can be completely outsourced. This simple premise never fails to spark a substantial debate and it underlines everything that Aspire does.</p>
</div>