@model User
@{
	Layout="_Layout";
}
  <head>
  	<title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container" style="margin-top: -95px;">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(../image/loginpage.jpg);">
			        </div>
					<div class="login-wrap p-4 p-md-5">
			      	    <div class="d-flex">
			      		    <div class="w-100">
			      			    <h3 style="margin-left: 56px; font-family:Times new roman; color:rgb(161, 62, 194); font-weight:bold;" class="mb-4">FORGET PASSWORD</h3>
			      		    </div>
			      	    </div>
						<form method="post" class="signin-form">
			      		    <div class="form-group mb-3">
			      			<label class="label" for="name">Username</label>
			      			<input type="text" class="form-control" asp-for="Username" placeholder="Username" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Password</label>
		              <input type="password" class="form-control" asp-for="Password" placeholder="Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!%^&*-]).{8,}$" required>
		            </div>
					<div class="form-group mb-3">
		            	<label class="label" for="password">Confirm Password</label>
		              <input type="password" class="form-control" asp-for="Confirmpassword" placeholder="Confirm Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!%^&*-]).{8,}$" required>
		            </div>
					<div class="form-group mb-3">
		            	<label style="color:red; margin-left:110px">@ViewBag.message</label>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3" style="background-color: rgb(161, 62, 194);">Submit</button>
		            </div>
					<div class="form-group d-md-flex">
						<div class="w-50" style="margin-left: 280px;">
							<a asp-action="Login" style="color:rgb(161, 62, 194);">Back</a>
						</div>
		            </div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
	</body>
