@{
  Layout="_Layout";
}
<head>
  <style>
    .div1{
     width: 110%;
     margin-left: -120px;
     margin-top: -15px;
    }
    .heading{
      text-align: center;
      font-weight:bold;
      color:rgb(161, 62, 194);
    }
    .subheading{
      text-align: center;
      font-weight:bold;
    }
    .para{
      text-align: justify;
      margin: 0 5em;
      font-size:18px;
    }
  </style>
  
</head>
   
<div class="div1">
  <img src="../image/Index.jpg" style="width:100%;"> 
</div>
<br>
<div>
  <h1 class="heading">About Us</h1>
  <p class="para">Aspire Systems is a global technology services firm serving as a trusted technology partner for its customers. We work with some of the world’s most innovative enterprises, independent software vendors and leading financial institutions, helping them leverage technology and outsourcing in our specific areas of expertise.Aspire Systems is a global technology services firm serving as a trusted technology partner for our customers. We work with some of the world's most innovative enterprises and independent software vendors, helping them leverage technology and outsourcing in our specific areas of expertise. Our core philosophy of "Attention. Always." communicates our belief in lavishing care and attention on our customers and employees.</p>
  <br>
  <h2 class="heading">"Wonderful place to work"</h2>
</div>
<br>
<div style="margin-top: 5%;">
  <center><img src="../image/CEO.jpg" style="border-radius: 50%;"/></center>
  <br>
  <h3 class="heading">Gowri Shankar Subramanian</h3>
  <h4 class="subheading" >Chief Executive Officer</h4>
  <br>
  <p class="para">Gowri is a co-founder of Aspire Systems and currently serves as its CEO.  In this position, he sets the strategic direction for Aspire and also oversees its day-to-day operations. Under his leadership, Aspire has grown at a CAGR of 63% over the past five years and has been ranked in Deloitte's list of fastest-growing companies in India and Asia-Pacific.Gowri believes in the power of outsourcing to transform industries and fundamentally alter business dynamics.   Having watched up-close how sub-contract manufacturing transformed the electronics industry and how IBM, Cisco, HP, and others gradually outsourced all their manufacturing operations, Gowri firmly believes that software product building will go the same way and can be completely outsourced. This simple premise never fails to spark a substantial debate and it underlines everything that Aspire does.</p>
</div>
@* <footer class="bottom">
  <div style="margin-left: 10%; margin-top:5%">
    <br>
    <br>
    <p><img src="../image/Location.jpg" style="border-radius: 50%;" width="20px" height="20px"/></p><p style=" margin-top: -4%;margin-left:4%;font-weight: bold;">Aspire Systems (India) Pvt. Ltd.</p>
    <p class="bottomtext">1/D-1, SIPCOT IT PARK</p>
    <p class="bottomtext">Siruseri, Chennai - 603 103</p>                
    <p class="bottomtext"> Tamil Nadu, India</p> 
    <p><img src="../image/call.jpg" style="border-radius: 50%;" width="20px" height="20px"/></p><p style=" margin-top: -4%;margin-left:4%;font-weight: bold;">Tele: + 91 44 6740 4000</p>            
    <p><img src="../image/Mail.jpg" style="border-radius: 50%;" width="20px" height="20px"/></p><p style=" margin-top: -4%;margin-left:4%;font-weight: bold;">info-india@aspiresys.com</p>
  </div>
</footer> *@
<div class="container-fluid mb-0" style="bottom: 0%; width:100%; margin-top:40px; background-color:rgb(161, 62, 194)">

    <footer class="text-white text-center text-lg-start bg-primary" style="background-color:rgb(161, 62, 194)">
    <!-- Grid container -->
    <div class="container p-4" style="background-color:rgb(161, 62, 194);">
      <!--Grid row-->
      <div class="row mt-4" style="background-color:rgb(161, 62, 194)">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0" style="background-color:rgb(161, 62, 194)">
          <h5 class="text-uppercase mb-4">About company</h5>
  
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti.
          </p>
  
          <p>
            Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.
          </p>
  
          <div class="mt-4" style="background-color:rgb(161, 62, 194)">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-google-plus-g"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0" style="background-color:rgb(161, 62, 194)">
          <ul class="fa-ul" style="margin-left: 1.65em;" style="background-color:rgb(161, 62, 194)">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">New York, NY 10012, US</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@example.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0" style="background-color:rgb(161, 62, 194)">
          <h5 class="text-uppercase mb-4">Opening hours</h5>
  
          <table class="table text-center text-white" style="background-color:rgb(161, 62, 194)"> 
            <tbody class="font-weight-normal">
              <tr>
                <td>Mon - Thu:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>9am - 10pm</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:rgb(161, 62, 194)">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>

